{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block content %}
{% load static %}

<main>

        <div class="wide-s">
          <div class="pt-5">
            <img src="{% static 'img/logo2.jpg' %}" alt="Untitled" class="logo2 pt-5">
          </div>
        </div>
        <br>
        <div class="form-s">
          <h1 style="font-family: 'Pacifico', cursive;">Kirjaudu sisään</h1>
          <br>
          <div class="float-right">
            <a href="{% url 'account_signup' %}" type="button" class="" >
            <span class="">Rekisteröidy uudelle käyttäjälle</span> &nbsp;
            <i class="fas fa-registered fa-4x"  style="color:#BF9000"></i></a>
          </div>
          <br>
          <br>
          <br>
          <br>

          <hr>

          <form class="login" method="POST">
            {% csrf_token %}
              {{ form|crispy }}

            {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            {% if request.GET.next %}
              <<input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <button class="btn" style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;"type="submit">
              Kirjaudu sisään &nbsp; <i class="fas fa-sign-in-alt"></i>
            </button>
          </form>
          <br>
          <a class="" style="" href="{% url 'account_reset_password' %}"> Unohtuiko salasana?</a>

        </div>
  <br><br><br>

</main>

{% endblock %}
