{% extends "account/base.html" %}
{% load static %}

{% block content %}
{% include "navbar0.html" %}
  <main>
    <div class="container">
      <section class="pt-5">
        <div class="row wow fadeIn pt-5">
          <div class='col-6 offset-3 bg-white p-5 rounded'>
            <img src="{% static 'img/brand_logo.JPG' %}" alt="Untitled" style="position: relative; width: 100%;">

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn btn-dark w-100 py-3' type="submit"> <h5> Kirjautua ulos </h5></button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <br><br><br><br><br><br><br>
  </main>
{% endblock %}
