{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load static %}
{% block content %}
{% include "navbar0.html" %}
<main style="background-color:#FAF9F6">
  <br><br><br><br>
  <div class=" pt-5">
    <div class="pt-5">
    <div class="">
      <img src="{% static 'img/logo12.jpg' %}" alt="Untitled" style="position: relative; width: 20%; left:30%;">
    </div>
    <section class="pt-5 form-s">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}Vaihda salasana {% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}Salasanan palautuslinkki oli virheellinen, mahdollisesti koska sitä on jo käytetty. Pyydä  <a href="{{ passwd_reset_url }}">uusi salasanan vaihto</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn mt-3 order-but" style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;" type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            {% else %}
                <p>Salasanasi on nyt vaihdettu </p>
            {% endif %}
        {% endif %}
    </section>
    </div>
  </div>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br>
</main>

{% endblock content %}
