{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block content %}
{% load static %}
<main>
  <div class="container pt-5">
    <section class="pt-5">
      <div class="row wow fadeIn pt-5">
        <div class="col-lg ">
          <img src="{% static 'img/logo2.png' %}" alt="Untitled" style="position: relative; width: 150%;">
        </div>
        <div class="col-6 offset-3 bg-white p-5 rounded">
          <h1>Nollaa salasana</h1>


          <form class="login" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button class="btn float-right text-white" style="background-color:black ;color:#BF9000; font-family: 'Prompt', sans-serif;">Lähettää</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
</main>

{% endblock %}
