{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load static%}
{% block content %}
<main>
  <div class="container pt-5">
    <section class="pt-5">
      <div class="row wow fadeIn pt-5">
        <div class="col-lg ">
          <img src="{% static 'img/logo2.png' %}" alt="Untitled"  class="logo2">
        </div>
        <div class="col-6 offset-3 bg-white p-5 rounded">
          <h1>Nollaa salasana </h1>
            <br><br><br><br><br><br><br><br><br>
            <p>Tietoja salasanan vaihtamisesta on lähetetty sähköpostiisi</p>
        </div>
      </div>
    </section>
  </div>
  <br><br><br><br><br><br><br>
</main>

{% endblock %}
