{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block content %}
{% load static %}
<main>
  <div class=" pt-5">
    <section class="pt-5">
      <div class=" pt-5">
        <div class="">
          <img src="{% static 'img/logo2.png' %}" alt="Untitled"  class="logo2">
        </div>
        <br><br>
        <div class="form-s"">
          <h1>Nollaa salasana</h1>


          <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button class="btn float-right text-white" style="background-color:black ;color:#BF9000; font-family: 'Prompt', sans-serif;">Lähettää</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
</main>

{% endblock %}
