{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <main>
        <div class="container pt-5">
          <section class="pt-5">
            <div class="row wow fadeIn pt-5">
              <div class="col-6 offset-3 bg-white p-5 rounded">
                <div class="col-lg ">
                  <img src="{% static 'img/logo2.png' %}" alt="Untitled" style="position: relative; width: 60%;">
                </div>
                <br>
                <br><br>
                  <h1>Vaihda salasana </h1>
                  <hr>
                  <p>Salasanasi on nyt vaihdettu. Voit kirjautua sisään uudella salasanalla <a href="https//www.maisaminherkku.fi">Kirjaudu sisään</a></p>
              </div>
            </div>
          </section>
        </div>
        <br><br><br><br><br><br>
      </main>
{% endblock %}
