{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <main style="background-color:white">
        <div class="pt-5">
          <section class="pt-5">
            <div class="pt-5">
              <div class="form-s">
                <div class="">
                  <img src="{% static 'img/logo12.jpg' %}" alt="Untitled" style="position: relative; width: 60%;">
                </div>
                <br>
                <br><br>
                  <h1>Vaihda salasana </h1>
                  <hr>
                  <p>Salasanasi on nyt vaihdettu. Voit kirjautua sisään uudella salasanalla <a class="h5 text-info pl-5" href="{% url 'account_login' %}">Kirjaudu sisään</a></p>
              </div>
            </div>
          </section>
        </div>
        <br><br><br><br><br><br>
      </main>
{% endblock %}
