<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>HTML email template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h3>{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name %}Hello from {{ site_name }}!{% endblocktrans %}</h3><br>
<img src="https://www.maisaminherkku.fi/static/img/brand2.png" alt="M">
<br>
<hr>
{% block content %}{% endblock %}
<br>
<br>
<hr>
<br>
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Kiitos, että valitsit Maisamin Herkun!
{% endblocktrans %}
{% endautoescape %}
</body>

</html>
