{% extends "account/email/base_message.html" %}
{% load i18n %}

  {% block content %}{% autoescape off %}{% blocktrans %}Sinulle on lähetetty tämä sähköposti, koska sinä tai joku muu on pyytänyt salasanaa käyttäjätilillesi.
  <br>
   Jos et pyytänyt uutta salasanaa, sinun ei tarvitse välittää tästä viestistä. Klikkaa alla olevaa linkkiä asettaaksesi uusi salasana: {% endblocktrans %}

   <br>
   <br>
  <a class="btn " href="{{ password_reset_url }}"><button type="button" style="background-color:black; color:white; border-radius:8px; width:30%;top:10%;">Nollaa Salasana</button></a>

  {% if username %}

  {% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}{% endif %}{% endautoescape %}{% endblock %}
