html,
body,
header,
.carousel {
  height: 60vh;
}

.info{
  font-size:12px;
  padding-left:5%;
}
.swingHorizontal{
    color:hsl(222, 25%, 14%);
}

.swingHorizontal:hover
{
    animation: swingHorizontal 1s ease;
    animation-iteration-count: 1;
}

@keyframes swingHorizontal
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}


.pulseBtn {
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
    animation: pulse 2.95s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(218, 196, 134, 0);
    }
}
/* .cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color:#BF9000;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0.9;
}
.close {
  height: 20px;
  background-color: #777;
  top:5px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
} */

@media only screen and (max-width: 600px){

  /* For mobile phones: */
  .kissa{
    position: fixed;
    bottom: 35px;
    left: 71%;
    right: 10%;
    padding: 17px 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.8;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:28px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;
  }
  .maintext {
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 25%;
    top: 20%;
    margin: 0 auto;
  }
  .bgimg {
    position: sticky;
    background-size: cover;
    margin-top: 10%;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    margin-right: 8%;
  }
  .foo-c{
    margin: 2%;
  }

  .foo-r{
    visibility: hidden;
  }
  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .form-s{
    position: relative;
    width: 90%;
    left:5%;

  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }
  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 260px;
    height: 260px;
    left:10%;
    margin-left: 40px;
    margin-top: 20px;
    transition: ease-in-out 1s,
  }

  .prodtext{
    position: relative;
    left: 10%;
  }
  .mainimg {
    position: relative;
    width: 270px; /* You can set the dimensions to whatever you want */
    height: 270px;
    object-fit: cover;
    padding: 10px;
    margin: -4px;
  }
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: ease-in-out 1s, opacity 0.1;
    z-index: 1;
  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: ease-in-out 1s;
  }

  .navico{
    background-color:#BF9000;
    color:white;
    font-family: 'Lato', sans-serif;
    border-radius:14px 0px 14px 14px;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }


  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading {
    margin-top: 7rem;
  }
  .order-table{
    position: relative;
    left: 0%;
  }
  .table-col,
  .table-col-2{
    display: none;
  }
  .total-price{
    position: relative;
    left:28%;
    background: black;
    color: white;
    padding: 4px;
    font-size: 25px;
    border-radius:4px;
  }
  .snippet{
    position: relative;
    width: 100%;
  }
  .order-but{
    position: relative;
    left: 5%;
  }
  .order-prod-text{
    font-size: 10px;
  }
  .gl{
    visibility: hidden;
  }
  .gluteen{
    padding: 3px 4px;
    background-color:#669474;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
  }
  .loctose{
    padding: 3px 5px;
    background-color: #817640;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
  }
  .alert{
   position: absolute;
   z-index: 999;
   top: 14%;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
  }
}

@media only screen and (min-width: 601px){
  /* For tablets: */
  .kissa{
    position: fixed;
    bottom: 15%;
    left: 80%;
    right: 10%;
    padding: 17px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.8;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:28px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;
  }
  .maintext {
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 25%;
    top: 17%;
    margin: 0 auto;
  }
  .bgimg {
    position: sticky;
    background-size: cover;
    top:10%;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    margin-right: 7%;
  }
  .foo-c{
    margin: 2%;
  }

  .foo-r{
    visibility: hidden;
  }
  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .form-s{
    position: relative;
    width: 90%;
    left:5%;

  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }


  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 310px;
    height: 260px;
    margin-left: 40px;
    margin-top: 20px;
    transition: 1s;
  }
  .prodtext{
    position: relative;
    left: 10%;
  }
  .mainimg {
    position: relative;
    width: 270px; /* You can set the dimensions to whatever you want */
    height: 270px;
    object-fit: cover;
    padding: 10px;
    margin: -4px;
  }
  .overlay {
    position: absolute;
    top: 52%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: ease-in-out 1s, opacity 0.1;
    z-index: 1;
  }

  .imgcard:hover .overlay {
    opacity: 1;
    cursor: pointer;
    border-radius: 0px;

  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: ease-in-out 1s;
  }
  .imgtext:hover {
    background-color: #be2f55;
    color: white;
    transition: ease-in-out 1s;
  }
  .navico{
    background-color:#BF9000;
    font-family: 'Lato', sans-serif;


    border-radius:14px 0px 14px 14px;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }


  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
  }

  .featurette-heading {
    font-size: 40px;
  }

  .featurette-heading {
    margin-top: 0rem;
  }
  .order-table{
    position: relative;
    width: 70%;
    top:50px;
    left: 10%;
  }
  .snippet{
    position: relative;
    width: 100%;
    z-index: -1;
  }
  .check-text{
    font-size: 30px;
  }
  .total-price{
    position: relative;
    left:35%;
    background: black;
    color: white;
    padding: 4px;
    font-size: 25px;
    border-radius:4px;
  }
  .gl{
    visibility: hidden;
  }
  .gluteen{
    padding: 3px 4px;
    background-color:#669474;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
  }
  .loctose{
    padding: 3px 5px;
    background-color: #817640;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
  }
  .alert{
   position: absolute;
   z-index: 999;
   float: right;
   top: 20%;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
  }
}


@media only screen and (min-width: 992px){
  /* For desktop: */
  .kissa{
    position: fixed;
    bottom: 35px;
    left: 94%;
    right: 2%;
    padding: 17px 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.9;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:28px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;
  }
  .maintext {
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 25%;
    top: 30%;
    margin: 0 auto;
  }
  .bgimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    padding-left: 3%;
    margin-right: 5%;
  }
  .foo-c{
    margin: 1%;
  }


  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .form-s{
    position: relative;
    width: 40%;
    left:30%;
  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }


  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 310px;
    height: 260px;
    margin-left: 40px;
    margin-top: 20px;
    transition: ease-in-out 1s linear;
    -o-transition: ease-in-out 1s linear;
    -ms-transition: ease-in-out 1s linear;
    -moz-transition: ease-in-out 1s linear;
    -webkit-transition: ease-in-out 1s linear;
  }
  .prodtext{
    position: relative;
    left: 10%;
  }
  .mainimg {
    position: relative;
    width: 270px;
    height: 270px;
    object-fit: cover;
    padding: 10px;
    margin: -4px;
  }
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    z-index: 1;
  }
  .overlay:hover{
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
  }
  .imgcard:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 0px;
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

  }
  .imgtext:hover {
    background-color: #be2f55;
    color: white;
  }
  .navico{
    background-color:#BF9000;
    font-family: 'Lato', sans-serif;

    font-size: 16px;
    border-radius:14px 0px 14px 14px;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }


  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
  }

  .featurette-heading {
    font-size: 40px;
  }

  .featurette-heading {
    margin-top: 0rem;
  }
  .order-table{
    position: relative;
    width: 80%;
    top:50px;
    left: 20%;
  }
  .snippet{
    position: absolute;
  }
  .check-text{
    font-size: 30px;
  }
  .table-col,
  .table-col-2{

  }
  .total-price{
    position: relative;
    left:260px;
  }
  .order-but{
    position: relative;
    margin-left: 30px;
  }
  .snippet{
    position: sticky;
    width: 80%;
  }
  .check-text{
    font-size: 50px;
  }
  .gl{
    visibility: hidden;
  }
  .total-price{
    position: relative;
    left:45%;
    background: black;
    color: white;
    padding: 5px;
    font-size: 30px;
    border-radius:4px;
  }
  .gluteen{
    padding: 3px 6px;
    background-color:#669474;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
  }
  .loctose{
    padding: 3px 7px;
    background-color: #817640;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
  }
  .alert{
   position: relative;
   z-index: 999;
   float: right;
   top: 20%;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
  }
  .cart{
    position: absolute;
    z-index: 999;
    float: right;
    top: 20%;
    height: auto;
    width:400px;
    color:#BF9000;
    background-color: white;
    border-color:#BF9000;
    border:solid;
    padding:30px;
  }
  .order_sum_tot{
    font-family: 'Prompt', sans-serif;
    background-color:black;
    color:white;
    border-radius:4px;
    padding:2px 8px;
    font-size:28px;
  }
}
