 html,
body,
header,
.carousel {
  height: 60vh;
}

.info{
  font-size:14px;
  padding-left:5%;
}
.swingHorizontal{
    color:hsl(222, 25%, 14%);
    cursor:pointer;
}

.swingHorizontal:hover
{
    animation: swingHorizontal 1s ease;
    animation-iteration-count: 1;
}

@keyframes swingHorizontal
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}


.pulseBtn {
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
    animation: pulse 2.95s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(218, 196, 134, 0);
    }
}
.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color:#BF9000;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0.9;
}

@media only screen and (max-width: 600px){

  /* For mobile phones: */
  .par-text{
    font-family: 'Pacifico', cursive;
    color:#BF9000;
  }
  .spe-ord{
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    color: white;
    left: 76%;
    top: 23%;
    font-family: 'Lato', sans-serif;
    line-height: 0;
  }
  .dec-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  .kissa{
    position: fixed;
    bottom: 35px;
    left: 76%;
    right: 4%;
    padding: 17px 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.8;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:28px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;
  }
  .maintext {
    position: absolute;
    font-size: 6vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 12%;
    top: 16%;
    margin: 0 auto;
  }
  .bgimg, .maimg{
    position: sticky;
    background-size: cover;
    margin-top: 10%;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    margin-right: 8%;
  }
  .foo-c{
    margin: 2%;
  }

  .foo-r{
    visibility: hidden;
  }
  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .mainlogo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  .form-s{
    position: relative;
    width: 90%;
    left:5%;

  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }
  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 260px;
    height: 260px;
    left:10%;
    margin-left: 40px;
    margin-top: 20px;
    transition: ease-in-out 1s,
  }
  .prod-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .prodtext{
    position: relative;
    left: 10%;
  }
  .card,
  .prod-card{
    position: relative;
    width: 80%;
    left:5%;
  }
  .check-card{
    width:90%;
  }
  .mainimg {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: ease-in-out 1s, opacity 0.1;
    z-index: 1;
  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: ease-in-out 1s;
  }


  .navico {
    position: absolute;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
  }

  .navico::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BF9000;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navico:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  .featurette-divider {
    margin: 1rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading {
    margin-top: 7rem;
  }
  .order-table{
    position: relative;
    left: 0%;
  }
  .table-col,
  .table-col-2{
    display: none;
  }
  .total-price{
    position: relative;
    left:28%;
    background: black;
    color: white;
    padding: 4px;
    font-size: 25px;
    border-radius:4px;
  }
  .snippet{
    position: relative;
    width: 100%;
  }
  .order-but{
    position: relative;
    left: 5%;
  }
  .order-prod-text{
    font-size: 10px;
  }
  .gl{
    visibility: hidden;
  }
  .gluteen{
    padding: 3px 4px;
    background-color:#669474;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
    cursor: pointer;
  }
  .loctose{
    padding: 3px 5px;
    background-color: #817640;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
    cursor: pointer;
  }
  .addinfo{
    padding: 3px 5px;
    background-color: #FB9000;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
    cursor: pointer;
  }
  .alert{
   position: absolute;
   z-index: 999;
   top: 14%;
   font-size: 16px;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
   opacity:0.9
  }
  .par-1{
    position:relative;
    font-family: 'Merienda', cursive;
    padding-top:2px;
    font-size: 8px;
    font-weight: 700;
  }
  .par-1-head{
    font-size: 20px;
    font-weight:bold;
    color:#BF9000;
  }
  .cap-text{
    position: relative;
    color: black;
    font-size: 1rem;
  }

  .cak-text{
    position: relative;
    color: black;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 601px){
  /* For tablets: */
  .spe-ord{
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: white;
    left: 80%;
    top: 25%;
    font-family: 'Lato', sans-serif;
    line-height: 0.3;
  }
  .dec-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  .kissa{
    position: fixed;
    bottom: 15%;
    left: 84%;
    right: 6%;
    padding: 17px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.8;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:26px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;

  }
  .maintext {
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 25%;
    top: 20%;
    margin: 0 auto;
  }
  .bgimg, .maimg{
    position: sticky;
    background-size: cover;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    margin-right: 7%;
  }
  .foo-c{
    margin: 2%;
  }

  .foo-r{
    visibility: hidden;
  }
  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .mainlogo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .form-s{
    position: relative;
    width: 90%;
    left:5%;

  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }


  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .card,
  .prod-card {
    position: relative;
    width:25%;
    left:0%;
    box-shadow: 0 2px 9px 	rgb(191, 144, 0), 0 2px 4px 	rgb(191, 144, 0);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-2{
    width:100%;
    height: 45vh;
    box-shadow: 0 2px 9px 	rgb(191, 144, 0), 0 2px 4px 	rgb(191, 144, 0);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 310px;
    height: 260px;
    margin-left: 40px;
    margin-top: 20px;
    transition: 1s;
  }
  .prodtext{
    position: relative;
    left: 20%;
  }
  .prod-img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  /* .card{
    width: 28%;
    left:1%;
  } */
  .check-card{
    width:100%;
  }
  .mainimg {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 52%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: ease-in-out 1s, opacity 0.1;
    z-index: 1;
  }

  .imgcard:hover .overlay {
    opacity: 1;
    cursor: pointer;
    border-radius: 0px;

  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: ease-in-out 1s;
  }
  .imgtext:hover {
    background-color: #be2f55;
    color: white;
    transition: ease-in-out 1s;
  }

  .navico {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    top:10px;
    padding: 10px 8px;
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
  }

  .navico::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BF9000;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navico:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }


  .featurette-divider {
    margin: 2rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
  }

  .featurette-heading {
    font-size: 40px;
  }

  .featurette-heading {
    margin-top: 0rem;
  }
  .order-table{
    position: relative;
    width: 70%;
    top:50px;
    left: 10%;
  }
  .snippet{
    position: relative;
    width: 100%;
    z-index: -1;
  }
  .check-text{
    font-size: 30px;
  }
  .total-price{
    position: relative;
    left:35%;
    background: black;
    color: white;
    padding: 4px;
    font-size: 25px;
    border-radius:4px;
  }
  .gl{
    visibility: hidden;
  }
  .gluteen{
    padding: 3px 4px;
    background-color:#669474;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
    cursor: pointer;
  }
  .loctose{
    padding: 3px 5px;
    background-color: #817640;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
    cursor: pointer;
  }
  .addinfo{
    padding: 3px 5px;
    background-color: #FB9000;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
    cursor: pointer;
  }
  .alert{
   position: absolute;
   z-index: 999;
   font-size: 18;
   float: right;
   top: 20%;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
   opacity:0.9;
  }
  .par-1{
    position:relative;
    font-family: 'Merienda', cursive;
    padding-top:2px;
    font-size: 18px;
    font-weight: 500;
  }
  .par-1-head{
    font-size: 26px;
    font-weight:bold;
    padding-bottom: 15px;
    color:#BF9000;
  }
  .cap-text{
    position: relative;
    color: black;
    font-size: 2rem;
  }

  .cak-text{
    position: relative;
    color: black;
    font-size: 2rem;
  }
  .par-text{
    font-family: 'Pacifico', cursive;
    color:#BF9000;
  }

}


@media only screen and (min-width: 992px){
  /* For desktop: */
  .bg-white {
      background:transparent !important;
      transition:0.75s ease;
  }
  .bg-white.scrolled{
      background:#FFF !important;
  }
  .item-text {
    color: white !important;
    transition:0.75s ease;
    font-size: 18px;
  }
  .item-text.scrolled  {
    color: black !important;
  }
  .navico{
    margin:5px 0px 2px 5px;
    width: fit-content;
    display: inline;
    top:2px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
  }
  .spe-ord{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    color: white;
    left: 80%;
    top: 66.2%;
    font-family: 'Lato', sans-serif;
    line-height: 0.5;
  }
  .par-text{
    position: relative;
    display:inline-block;
    padding: 15px 60px;
    bottom :40px;
    background-color: white;
    color:#BF9000;
    font-family: 'Pacifico', cursive;
    font-size: 31px;
    /* box-shadow: 0 6px 18px 	rgb(191, 144, 0), 0 6px 12px 	rgb(191, 144, 0);
    transition: all 0.3s cubic-bezier(.25,.2,.25,1);
    border-radius: 14px; */
  }
  .dec-text{
    position: relative;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23BF9000FF' stroke-width='7' stroke-dasharray='17' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 14px;
    margin: 8% 2%;
    padding: 0 0 7% 0;
    top: 20px;
  }
  .container-fluid{
        max-width: 80%;
    }
  .kissa{
    position: fixed;
    bottom: 35px;
    left: 94%;
    right: 2%;
    padding: 17px 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #BF9000;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.9;
    cursor: pointer;
  }
  .kissa-text{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    bottom:28px;
    background-color:#BF9000;
    color:white;
    padding: 5px 10px;
    border-radius:50%;
  }
  .maintext {
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    font-family: "Nosifer", cursive;
    width: 50%;
    left: 25%;
    top: 30%;
    margin: 0 auto;
  }
  .bgimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: auto;
    filter: brightness(60%);
  }
  .maimg{
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(70%);
  }

  .foo-l{
    display: flex;
    justify-content: center;
    padding-left: 3%;
    margin-right: 5%;
  }
  .foo-c{
    margin: 1%;
  }


  .logo2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .mainlogo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .form-s{
    position: relative;
    width: 40%;
    left:30%;
  }
  .prodimg {
    position: sticky;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }


  a:hover,
  a:visited,
  a:link,
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .card{
    width:22%;
  }
  .check-card{
    width:90%;
  }
  .prod-card{
    position: relative;
    left:0%;
    width:22%;
    height:42vh;
    border-radius: 10px;
  }
  .imgcard {
    position: relative;
    background-color: white;
    width: 310px;
    height: 260px;
    margin-left: 40px;
    margin-top: 20px;
    transition: ease-in-out 1s linear;
    -o-transition: ease-in-out 1s linear;
    -ms-transition: ease-in-out 1s linear;
    -moz-transition: ease-in-out 1s linear;
    -webkit-transition: ease-in-out 1s linear;
  }
  .prodtext{
    position: relative;
    left: 10%;
  }
  .card-2{
    width:100%;
    height: 55vh;
    box-shadow: 0 3px 12px 	rgb(191, 144, 0), 0 3px 9px 	rgb(191, 144, 0);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
  }

  .prod-img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 10px;
  }
  .mainimg {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
  }
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 2.3%;
    right: 0;
    height: 25%;
    width: 96.2%;
    opacity: 0;
    transform: translateY(100%);
    background-color: hsla(0, 0%, 100%, 0.9);
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    z-index: 1;
  }
  .overlay:hover{
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
  }
  .imgcard:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 0px;
    transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
  }

  .imgtext {
    position: absolute;
    padding-top: 1%;
    color: #be2f55;
    background-color: transparent;
    border-width: thin;
    border-style: solid;
    border-color: #be2f55;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 500;
    height: 10%;
    top:43%;
    left: 50%;
    width: 60%;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

  }
  .imgtext:hover {
    background-color: #be2f55;
    color: white;
  }


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }


  .featurette-divider {
    margin: 3rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
  }

  .featurette-heading {
    font-size: 40px;
  }

  .featurette-heading {
    margin-top: 0rem;
  }
  .order-table{
    position: relative;
    width: 80%;
    top:50px;
    left: 20%;
  }

  .check-text{
    font-size: 30px;
  }
  .table-col,
  .table-col-2{

  }
  .total-price{
    position: relative;
    left:260px;
  }
  .order-but{
    position: relative;
    margin-left: 30px;
  }
  .snippet{
    position: fixed;
    width: 40%;
  }
  .check-text{
    font-size: 50px;
  }
  .gl{
    visibility: hidden;
  }
  .total-price{
    position: relative;
    left:45%;
    background: black;
    color: white;
    padding: 5px;
    font-size: 30px;
    border-radius:4px;
  }
  .gluteen{
    padding: 3px 6px;
    background-color:#669474;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
    cursor: pointer;
  }
  .loctose{
    padding: 3px 7px;
    background-color: #817640;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color:white;
    border-radius: 30%;
    cursor: pointer;
  }
  .addinfo{
    padding: 3px 6px;
    background-color:#BF9000;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 30%;
    cursor: pointer;
  }
  .alert{
   position: relative;
   z-index: 999;
   font-size: 22px;
   float: right;
   top: 20%;
   color:#BF9000;
   background-color: black;
   border-color:#BF9000;
   border:solid;
   padding:30px;
   opacity:0.9;
  }
  .cart{
    position: absolute;
    z-index: 999;
    float: right;
    top: 20%;
    height: auto;
    width:400px;
    color:#BF9000;
    background-color: white;
    border-color:#BF9000;
    border:solid;
    padding:30px;
  }
  .order_sum_tot{
    font-family: 'Prompt', sans-serif;
    background-color:black;
    color:white;
    border-radius:4px;
    padding:2px 8px;
    font-size:28px;
  }
  .par-1{
    position:relative;
    font-family: 'Merienda', cursive;
    width:300%;
    right:100%;
    padding-top:1px;
    font-size: 16px;
    color:black;
  }
  .par-1-head{
    font-size: 36px;
    font-weight:bold;
    padding: 15px 0px;
    color:#BF9000;
  }

  /* price color */
  .pricing-wrap{
  position: relative;
  left:90px;
  bottom: 33px;
  width: 100%;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  }
.pricing-wrap span{
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 0.1;
  color: #3C0008;
  transform: translate3d(0, 0, 35px) perspective(100px);
}
.pricing-wrap span:before{
  position: absolute;
  content: '';
  z-index: -1;
  background: linear-gradient(217deg, #BF9000, #FFF);
  width: 80px;
  height: 70px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 20px 0 rgba(16, 39, 112,.3);
  animation: border-transform 9s linear infinite;
}

@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
.prod-text{
  position: relative;
  background-color: #BF9000;
  padding: 5px 25px;
  color: white;
  right: 60px;
  border-radius: 0 6px 6px 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 10px 0 #BF9000;
}
.mid-card{
  position: relative;
  width: 15%;
  left:5%;
  padding: 2px;
}
.cap-text{
  position: relative;
  bottom: 180px;
  right: 5%;
  color: white;
  font-size: 5rem;
}

.cak-text{
  position: relative;
  bottom: 180px;
  float: right;
  left:5%;
  color: white;
  font-size: 5rem;
}

}
