{% extends "base.html" %} {% load crispy_forms_tags %}
{% load static %}{% block content %}

<main class="pt-5">
  <p class="text-center pt-5"style="font-family: 'Prompt', sans-serif;color:#636363; font-size:26px;">Kissa</p>
  <hr class="w-25">
  <div class="container wow" >
    <div class="row pt-5" >
      <div class="col-md-7 mb-4 checkout-list" >
        <div class="card" style="border-radius:24px">
          <p class="text-center pt-4 checks-text"style="font-family: 'Prompt', sans-serif;color:#636363">Laskutustiedot</p>
          <hr>
          <form method="POST" class="card-body">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
               <p class="help is-danger">{{  error }}</p>
            {% endfor %}

            {{ form.firstName | as_crispy_field }}
            {{ form.lastName | as_crispy_field }}
            {{ form.city | as_crispy_field }}
            {{ form.street_address | as_crispy_field }}
            {{ form.apartment_address | as_crispy_field }}
            {{ form.postal | as_crispy_field }}
            {{ form.email | as_crispy_field }}
            {{ form.phone | as_crispy_field }}
            {{ form.date | as_crispy_field }}
            <br>
            <hr>
            <br>
            <p>Toimitamme &nbsp; <i class="fas fa-truck"></i></p>
            <select name="delivery" id="delivery" class="browser-default custom-select">
              <option value="0" id="0">Nouto (maksuton)</option>
              <option value="3.00" id="1">Jämsä &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.00 &euro;</option>
              <option value="5.00" id="2">Jämsänkoski / Kaipola /Himos   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.00 &euro;</option>
              <option value="7.00" id="3">Halli / Koskenpää / Länkipohja / Korpilahti &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                7.00 &euro;</option>
            </select>
            <hr />
            <br>
            <h3>Maksuvaihtoehdot &nbsp; <i class="fas fa-file-invoice"></i></h3>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>
            <hr>
            <br>
            <button class="btn btn-lg btn-block"  style="background-color:#BF9000 ;color:black;"  type="submit">
             <b> Lähetä Tilaus</b>
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="snippet">
          {% include "order_snippet.html" %}
        </div>
      </div>
    </div>
  </div>
  <br>
</main>
{% endblock content %}
