{% extends "base.html" %} {% load crispy_forms_tags %}
{% load static %}{% block content %}
{% include "navbar0.html" %}
<main >
  <div class="row">
    <div class="col-lg-7" style="background-color:white;border-right:1px solid #BF9000">
      <br><br><br><br><br>

      <div class="container-fluid" >
        <div class="row pt-5" >
          <div class="col mb-4"  >
            <div class="card check-card" style="border:none;background-color:transparent">
              <p class="text-center pt-4 checks-text h3"style="font-family: 'Acme', sans-serif;color:#535353; letter-spacing:0.2em;">Laskutustiedot</p>
              <hr>
              <form method="POST" class="card-body">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                   <p class="help is-danger">{{  error }}</p>
                {% endfor %}
                <h5 style="font-family: 'Acme', sans-serif;">Yhteystiedot &nbsp; <i class="fas fa-user" style="color:#BF9000;"></i></h5>
                <div class="row">
                  <span class="col-sm-6">{{ form.firstName | as_crispy_field }}</span>
                  <span class="col-sm-6">{{ form.lastName | as_crispy_field }}</span>
                </div>
                <div class="row">
                  <span class="col-sm-6">{{ form.email | as_crispy_field }}</span>
                  <span class="col-sm-6">{{ form.phone | as_crispy_field }}</span>
                </div>
                <hr>
                <br>

                <label class="h5 pb-3" style="font-family: 'Acme', sans-serif;">Päivämäärä &nbsp; <i class="fas fa-calendar-day" style="color:#BF9000;"></i></label>
                <p class="h6" style="font-family: 'Acme', sans-serif;">Tee tilauksesi kolme päivää ennen</p>
                <div class="row">
                  <div class="col-sm-9">
                    {{ form.date | as_crispy_field  }}
                  </div>
                  <div class="col-sm-3">
                    <p class="pt-2 pl-3 text-muted" style="padding:3px; background:#EEE;" disabled>PP/KK/VVVV</p>
                  </div>
                </div>
                <hr>
                <br>
                <h5 style="font-family: 'Acme', sans-serif;">Toimitamme &nbsp;<i class="fas fa-truck" style="color:#BF9000;"></i> &nbsp; &nbsp;<span id="delv_price"></span></h5>
                <select name="delivery" id="delivery" class="browser-default custom-select" onchange="delivery_func()">
                  <option value="0" id="0">Nouto (maksuton)</option>
                  <!-- <option value="5.00" id="1">Jämsä &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5.00 &euro;</option>
                  <option value="7.00" id="2">Jämsänkoski / Kaipola /Himos   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.00 &euro;</option>
                  <option value="9.00" id="3">Halli / Koskenpää / Länkipohja / Korpilahti &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    9.00 &euro;</option> -->
                </select>
                <br><br>
                <div id="delivery_address" hidden>
                  <h5 style="font-family: 'Acme', sans-serif;">Toimitusosoite &nbsp; <i class="fas fa-home" style="color:#BF9000;"></i></h5>
                  <div class="row">
                    <span class="col-sm-6">{{ form.city | as_crispy_field }}</span>
                    <span class="col-sm-6">{{ form.postal | as_crispy_field }}</span>
                  </div>
                  {{ form.street_address | as_crispy_field }}
                  {{ form.apartment_address | as_crispy_field }}
                  <br>
                </div>
                <div id="delivery-policy" class="delivery-policy" hidden>
                  <br>
                  <input type="checkbox" id="agree_delivery" name="agree_delivery" value="agree_delivery" onchange="deliverySend()"> &nbsp
                  <span class="" for="agree">Valitse ruutu, jos hyväksyt &nbsp;<a href="{% url 'main:delivery_policy' %}" style="color:#BF9000;font-weight:800;" target="_blank">Toimituskäytännön</a></span>
                  <br>
                </div>
                <hr />
                <br>
                <h5 style="font-family: 'Acme', sans-serif;">Maksuvaihtoehdot &nbsp; <i class="fas fa-file-invoice" style="color:#BF9000;"></i></h5>

                <div class="d-block my-3">
                  {% for value, name in form.fields.payment_option.choices %}
                  <div class="custom-control custom-radio">
                    <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input {{ name }}" required onchange="choose()">
                    <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  </div>
                  {% endfor %}
                </div>
                <hr>
                <br>
                <button class="btn w-50" id="send-order" style="background-color:black ;color:white;"  type="submit">
                 <b> Lähetä Tilaus</b>
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-5" style="background-color:white">
      <br><br><br>

      <div class="col">
        <div class="snippet">
          {% include "order_snippet.html" %}
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function(){

	// Variables
	var clickedTab = $(".tabs > .active");
	var tabWrapper = $(".tab__content");
	var activeTab = tabWrapper.find(".active");
	var activeTabHeight = activeTab.outerHeight();

	// Show tab on page load
	activeTab.show();

	// Set height of wrapper on page load
	tabWrapper.height(activeTabHeight);

	$(".tabs > li").on("click", function() {

		// Remove class from active tab
		$(".tabs > li").removeClass("active");

		// Add class active to clicked tab
		$(this).addClass("active");

		// Update clickedTab variable
		clickedTab = $(".tabs .active");

		// fade out active tab
		activeTab.fadeOut(250, function() {

			// Remove active class all tabs
			$(".tab__content > li").removeClass("active");

			// Get index of clicked tab
			var clickedTabIndex = clickedTab.index();

			// Add class active to corresponding tab
			$(".tab__content > li").eq(clickedTabIndex).addClass("active");

			// update new active tab
			activeTab = $(".tab__content > .active");

			// Update variable
			activeTabHeight = activeTab.outerHeight();

			// Animate height of wrapper to new tab height
			tabWrapper.stop().delay(50).animate({
				height: activeTabHeight
			}, 500, function() {

				// Fade in active tab
				activeTab.delay(50).fadeIn(250);

			});
		});
	});

	// Variables
	var colorButton = $(".colors li");

	colorButton.on("click", function(){

		// Remove class from currently active button
		$(".colors > li").removeClass("active-color");

		// Add class active to clicked button
		$(this).addClass("active-color");

		// Get background color of clicked
		var newColor = $(this).attr("data-color");

		// Change background of everything with class .bg-color
		$(".bg-color").css("background-color", newColor);

		// Change color of everything with class .text-color
		$(".text-color").css("color", newColor);
	});
});
</script>
{% endblock content %}
