{% extends "base.html" %} {% block content %}
{% include "navbar0.html" %}
<main>
  <div class="container p-5 m-5" style="position: relative ; background-color: white; border-radius: 16px; left: 15%;">
    <div class="table-responsive text-nowrap pt-5">
      <h2>Orders</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="h6">#</th>
            <th scope="col" class="h6">Name</th>
            <th scope="col" class="h6">Address</th>
            <th scope="col" class="h6">Ordered</th>
            <th scope="col" class="h6">Deliver</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <div class="bg-dark">
          <tr>
            <td class="h6">{{object.pk}}</td>
            <td class="h6"><a href="{% url 'main:order-detail' object.pk %}">{{ object.name }}</a></td>
            <td class="h6">{{ object.address }}</td>
            <td class="h6">{{ object.create }}</td>
            <td class="h6">{{ object.delivery }}</td>
            <td class="h6">
              <a
                style="color: red"
                href="{% url 'main:remove_from_order_page' object.pk %}"
              >
                <i class="fas fa-trash float-right"></i>
              </a>
            </td>
          </tr>
        </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock content %}
