{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
{% include "navbar0.html" %}

<main role="main" class="container pt-5 mt-5" style="font-family: 'Lato', sans-serif;">
  <div class="jumbotron">
    <h2 class="my-2 h1 text-center my-5"style="font-family: 'Pacifico', cursive; color:#BF9000">Toimitusehdot</h2>
    <hr class="featurette-divider">
<h4>1. Yleistä</h4>
<p>
Tämä on Maisamin Herkun ylläpitämä kotimainen
verkkokauppa, joka on erikoistunut leipomo- ja
makeistuotteisiin. Nämä ehdot koskevat toimittajan ja
verkkokaupan asiakkaan välistä sopimusta tuotteesta
tai tuotteista, jotka on tilattu verkkokaupasta.
Lähettämällä tilauksen asiakas hyväksyy nämä ehdot
varauksetta.
</p><br>
<h4>2. Palvelulupaus</h4>
<p>
Toimittaja sitoutuu toimittamaan tuotteen asiakkaalle
sovittuna päivänä.
Asiakkaan ehdot ja toimitusosoite
Asiakkaan on oltava yli 16-vuotias luonnollinen
henkilö tai oikeushenkilö.
Toimitusosoitteen on oltava virallinen osoite, sen on
sijaittava Suomessa ja tällöin on oltava vakaa
tieyhteys normaalisti käytettyyn jakeluajoneuvoon.
Saariston alueilla ja paikoissa, joissa ei ole kiinteää
tieyhteyttä, toimituksista sovitaan erikseen.
Toimituksen voi noutaa myös sovitusta
toimitusosoitteesta.
Toimittaja pidättää oikeuden olla hyväksymättä
henkilöä tai yritystä asiakkaaksi tai esimerkiksi
asiakkaan ilmoittamaa toimitusosoitetta.
</p><br>

<h4>3. Tilauksen tekeminen verkkokaupasta</h4>
<p>
Voit tilata verkkokaupasta vain verkkokaupan
painikkeilla. Kun asiakas on tehnyt tilauksen, se
siirretään toimittajan tilauspalveluun.
Erikoistilauksesta sinun tulee soittaa ja sopia
sähköpostitse kaikista tilauksesi tiedoista.
</p><br>

<h4>4. Tilauksen ajoittaminen</h4>
<p>
Tuote on elintarvike, joka valmistetaan tilauksesta. Eri
Tuotteiden säilyvyysajat poikkeavat toisistaan.
Tuotteen säilyvyysaika on vähintään kolme (3) päivää
valmistamisesta. Tuotteen tilaus kannattaa ajoittaa
siten, että mahdollisen virheen ilmetessä jää aikaa
hankkia/toimittaa korvaava tuote, riippumatta siitä,
onko kyse Toimittajan vastuulle kuuluvasta virheestä
vai ei.
</p><br>

<h4>5. Tilausten käsittely arkipäivisin</h4>
<p>
Toimittaja käsittelee Asiakkaan tilaukset toimittajan ja
asiakkaan sopimana aikana.
</p><br>

<h4>6. Toimitus Asiakkaalle</h4>

<p>
Tuote toimitetaan Asiakkaalle seuraavana arkipäivänä
siitä, kun Tuote on valmis kuljetettavaksi. 
Edellä lausuttu koskee myös uuden ja korvaavan
Tuotteen toimittamista.
Jos on sovittu, Tuote on mahdollista noutaa
toimittajan ja asiakkaan sopimaan aikaan.
</p><br>

<h4>7. Tilauksen yhteydessä annettavat tiedot</h4>
<p>
Tilauksen hyväksyminen edellyttää, että Asiakas
antaa täydelliset, totuudenmukaiset ja ajantasaiset
yhteystietonsa, jotka sisältävät kuluttajan osalta
vähintään nimen, postiosoitteen, puhelinnumeron,
sekä sähköpostiosoitteen, joista Asiakas on
tavoitettavissa. Yritysasiakkaan on vastaavasti
annettava yrityksen nimi sekä laskutusosoite (huom.
laskutus edellyttää Toimittajan etukäteistä
hyväksyntää).
</p><br>

<h4>8. Oikeus evätä tilaus</h4>
<p>
Toimittajalla on oikeus tarvittaessa evätä (olla
vahvistamatta) tehtyä tilausta, jolloin sitovaa
sopimusta ei synny. Esimerkiksi, mikäli tilattua tuotetta
ei ole saatavilla, Toimittajalla on oikeus olla
vahvistamatta tilausta, eikä sitovaa sopimusta synny.
</p><br>

<h4>9. Sopimuksen voimaantulo</h4>
<p>
Toimittajan ja Asiakkaan välinen sopimus tulee
voimaan, kun Toimittaja on lähettänyt Asiakkaalle
tilausvahvistuksen. Mikäli tilausvahvistus poikkeaa
Asiakkaan tilauksesta, sopimus katsotaan syntyneeksi
vain siltä osin kuin tilausvahvistus vastaa Asiakkaan
tekemää tilausta. Tilauksella tarkoitetaan Asiakkaan
tilausta sen sisältöisenä kuin Toimittaja on sen
vahvistanut.
</p><br>

<h4>10. Sopimuksen peruuttaminen</h4>
<p>
Asiakkaalla ei ole oikeutta yksipuolisesti peruuttaa,
purkaa tai irtisanoa sopimusta enää sen jälkeen, kun
Toimittaja on lähettänyt tilausvahvistuksen Asiakkaalle
ja sopimus on tullut voimaan.

Verkkokauppaan ei sovelleta kuluttajansuojalain
(20.1.1978/38) koti- ja etämyyntiä koskevia
säännöksiä, ks. kuluttajansuojalaki 6 luku 1 § 11-
kohta. Kuluttajansuojalain 6 luvun 16 §:n 1), 3), 4) ja
5) perusteella Asiakkaalla ei ole mainitun lain 14 §:ssä
säädetty koti- ja etämyynnissä muutoin noudatettavaa
peruuttamisoikeutta.
</p><br>

<h4>11. Maksutapa</h4>
<p>
Tuote maksetaan aina etukäteen, ellei Toimittajan
kanssa ole nimenomaisesti sovittu toisin. 
</p><br>
<h4 class="text-muted ">12.  Toimitustavat</h4>

<h4>13. Tuotteet ja hinnat</h4>
<p>
Verkkokaupassa saatavana olevat Tuotteet ja
hinnasto näkyvät Maisamin Herkun internet-sivulla
…………. Toimittaja päättää ja vastaa verkkokaupan
sisällöstä.
Toimittajalla on milloin tahansa oikeus lisätä tai
vähentää verkkokaupassa saatavilla olevia Tuotteita.
Toimittajalla on oikeus päivittää verkkokaupan

ulkoasua ja sisältöä. Toimittajalla on myös oikeus
muuttaa hintoja.
</p><br>

<h4 class="text-muted ">14. Force majeure</h4>
  </div>
</main>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
