{% load static %}
<footer class="text-white footer" style="">
  <br><br><br><br><br><br>
    <dic class="container">
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'img/brand_logo_1.svg' %}" alt="Untitled"  class="logo2">
            <div>
              <p class="foo-l" style="color:#BF9000; font-size:12px;">&copy;2021</p>
            </div>
            <br><br><br>
            <div class=" foo-l ">
              <div>
                <a class="fab fa-instagram fa-2x" style="color:#BF9000" href="https://www.instagram.com/maysamherkku/"></a>
                <a class="fab fa-facebook-f fa-2x px-5" style="color:#BF9000" href="https://www.facebook.com/maisaminherkkukotileipomoa/"></a>
                <a class="fab fa-youtube fa-2x pl-2" style="color:#BF9000" href="https://www.youtube.com/channel/UCw9o5p1ge-AivDbJafat5Bw"></a>
              </div>
            </div>
            <br>
          </div>
          <div class="col-md-2">
            <div>
              <p class=" foo-email" style="color:#BF9000; font-size:14px;"> <b>Verkkokauppa</b></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:home' %}">Etusivu</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:cake' %}">Kakut</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:cupcake' %}">Kuppikakut</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:cheesecake' %}">Juustokakut</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:fatayer' %}">Fatayer</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:manakish' %}">Manakish</a></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:10px;"><a style="color:#BF9000; font-size:12px;"  href="{% url 'main:meze' %}">Alkuruoat ja salaatit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <p style="color:#BF9000; font-size:14px;"><b>MAISAMIN HERKKU</b></p>
            </div>
            <div>
              <p style="color:#BF9000; font-size:12px;">42100 Jämsä</p>
            </div>
            <div>
              <p class=" foo-email" style="color:#BF9000; font-size:12px;">Puh 050 3367788</p>
            </div>
            <div>
              <p class=" foo-email" style="color:#BF9000; font-size:12px;">info@maisaminherkku.fi</p>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <p class=" foo-email" style="color:#BF9000; font-size:14px;"><b> Info</b></p>
            </div>
            <div>
              <p class=" foo-email"> <a href="{% url 'main:privacy' %}"style="color:#BF9000; font-size:12px;">Tietosuojaseloste</a> </p>
            </div>
            <div>
              <p class=" foo-email"> <a href="{% url 'main:delivery_policy' %}"style="color:#BF9000; font-size:12px;">Toimitusehdot</a> </p>
            </div>
          </div>
        </div>
      </div>
      <br>
    </dic>
  </footer>
