<footer class="text-white" style="background-color:#222;">
    <dic class="container">
      <br />
      <div class=" foo-l">
        <div class="">
          <a class="fab fa-facebook-f fa-2x px-5" style="color:#BF9000" href="https://www.facebook.com/maisamin.herkku/"></a>
          <a class="fab fa-instagram fa-2x" style="color:#BF9000" href="https://www.instagram.com/maysamherkku/"></a>
          <a class="fab fa-youtube fa-2x pl-5" style="color:#BF9000" href="https://www.youtube.com/channel/UCw9o5p1ge-AivDbJafat5Bw"></a>
        </div>
      </div>
      <br>
      <div class="foo-c">
        <p class="d-flex justify-content-center h6" style="color:#BF9000; font-size:10px;">MAISAMIN HERKKU, Jämsä</p>
      </div>
      <div class="foo-c">
        <p class="d-flex justify-content-center h6 foo-email" style="color:#BF9000; font-size:10px;">Puh. <span style="color:#BF9000; font-size:10px;">&nbsp;040 5177 444</span></p>
      </div>
      <div class="foo-c">
        <p class="d-flex justify-content-center h6 foo-email" style="color:#BF9000; font-size:10px;">info@maisaminherkku.fi</p>
      </div>
      <div class="foo-c">
        <p class="d-flex justify-content-center h6 foo-email"> <a href="{% url 'main:privacy' %}"style="color:#BF9000; font-size:10px;">Tietosuojaseloste</a> </p>
      </div>
      <div class="foo-c">
        <p class="d-flex justify-content-center h6 foo-email" style="color:#BF9000; font-size:10px;">&copy;2021</p>
      </div>
      <br>
    </dic>
  
  </footer>
