<footer class="text-white bg-dark">
  <style media="screen">
  </style>
    <dic class="">
      <br />
      <div class="float-left">
        <a class="fab fa-facebook-f fa-2x px-5"></a>
        <a class="fab fa-instagram fa-2x"></a>
        <a class="fab fa-youtube fa-2x pl-5"></a>
      </div>
      <p class="float-right pr-5 h6"><a href="#" class="text-white">Takaisin alkuun</a></p>
      <p class="d-flex justify-content-center">&copy; 2021 MAISAMIN HERKKU. &middot; <a href="#" class="text-white">Jämsä</a></p>
      <p class="d-flex justify-content-center">info@maisaminherrku.fi</p>
      <br>
    </dic>
  </footer>
