{% extends "base.html" %} {% block content %}
{% load static %}
  {% include "navbar.html" %}
<main role="main">
    <div class="">
      <img class="maimg"src="{% static 'img/home1.jpg' %}" alt="">
      <h1 class="maintext" style="color:#EEE">MAISAMIN <br /> &nbsp;&nbsp; <span style="position: relative;left: 40%; top: 10%;"> HERKKU </span></h1>

      <div class="spe-ord">
        <p class="" style="position:relative; right:100px;">Tee tilauksesi kolme päivää ennen!</p>
        <p class="">Erikoistilauksesta </p>
        <p class="">voit soittaa </p>
        <p class="">klo 9.00 -17.00</p>
        <p class="">Puh 050 3367788</p>
      </div>
    </div>
    <br />

    <div class="container marketing">
      <div class="row d-flex justify-content-center">

        <div class="col-lg-4">
          <br />
          <div class="par-1">
            <p class="par-1-head">Olen aina pitänyt käsillä tekemisestä !</p>
            <p>Tarinani alkoi, kun olin nuori tyttö ala-asteella piirtelemässä</p>
            <p>koulun seinille.</p>
            <p>Kasvaessani opin leipomaan, ja siitä tuli intohimoni.</p>
            <p>Aikanaan yliopistossa pyrin kirurgiksi, jotta voisin käyttää</p>
            <p>kädentaitojani parantamiseen.</p>
            <p>Vaikka tämä unelma ei ole vielä käynyt toteen, olen päässyt</p>
            <p>kauas kulinaarisella matkallani.</p>
            <p>Nyt Maisamin Herkulla tahdon jakaa kanssanne niitä</p>
            <p>aarteita, joita olen löytänyt matkan varrella.</p>
            <br>
            <h3>Hyvää ruokahalua!</h3>

          </div>
        </div>

      </div>
    </div>
        <hr class="featurette-divider">
        <div class="container-fluid">
          <div class="row featurette">
            <div class="col-md-7">
              <div class="dec-text">
                <a href="{% url 'main:cake' %}">
                  <h2 class="par-text">Kakut</h2>
                </a>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Täydellinen juhlakakku kaikkiin tilaisuuksiin</p>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Paras mitä voit testata</p>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Monia eri kerroksia</p>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Täynnä rakkautta</p>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Täynnä makuja</p>
              </div>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/cake3.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <div class="dec-text">
                <a href="{% url 'main:cheesecake' %}">
                  <h2 class="par-text">Kermainen täyte ja keksipohja </h2>
                </a>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Kuka voi vastustaa tätä klassikkoa? Valitse perinteisistä hedelmä-, vanilja- tai pistaasijuustokakuista, tai luo oma makusi</p>
              </div>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/chesse3.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <div class="dec-text">
                <div class="<div class="dec-text">
                  <a href="{% url 'main:cupcake' %}">
                    <h2 class="par-text">Kuppikakut</h2>
                  </a>
                  <p class="h4" style="font-family: 'Indie Flower', cursive;">Nämä muffinsit näyttävät liian upeilta syötäviksi, mutta murusenkaan maistettuasi et malta lopettaa!</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/cupcake3.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <div class="dec-text">
                <a href="{% url 'main:fatayer' %}">
                  <h2 class="par-text">Fatayer</h2>
                </a>
                <p class="h4 pl-2" style="font-family: 'Indie Flower', cursive;">Leivonnainen, joka on täytetty lihalla, tai juustolla ja pinaatilla tai muilla täytteillä mielesi mukaan</p>
              </div>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/fatayer2.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <div class="dec-text">
                <a href="{% url 'main:manakish' %}">
                  <h2 class="par-text">Manakish</h2>
                </a>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Ohut taikina, jossa täytteinä za'atar mausteseosta ja jauhelihaa, tai juustoa ja selleriä tai muita täytteitä mielesi mukaan. </p>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Suosittu ruoka Levantin alueella.</p>
              </div>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/manakish3.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>
            <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <div class="dec-text">
                <a href="{% url 'main:meze' %}">
                  <h2 class="par-text">Alkuruoat ja salaatit</h2>
                </a>
                <p class="h4" style="font-family: 'Indie Flower', cursive;">Punaisista ja keltaisista kuorituista linsseistä tehty maukas, paksu keitto.
  Suosittu alku- ja pääruoka lähi-idän maissa.</p>
              </div>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'img/alk3.jpg' %}" alt="Generic placeholder image">
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
</main>


{% endblock content %}
