{% extends "base.html" %} {% block content %}
{% load static %}
<main>
  <br />
  <br />
  <br />
  <div class="">
    <img class="prodimg" src="{% static 'img/cake6.png' %}" alt="" width="1090" height="220">

  </div>
  <div class="container pt-1 mt-1">
    <br>
    <h1 style="font-family: 'Pacifico', cursive;">Manakish</h1>
    <hr>
    <br>
    <section class="text-center mt-1">
      <div class="row wow fadeIn">
        {% for item in object_list %}
        {% if item.category == 'manakish' %}
        <div class="row">
          <div class="column">
            <a href="{{ item.get_absolute_url }}">
            <div class="imgcard">
              <img src="{{ item.image1.url }}" class="mainimg" />
              <div class="overlay">
                <div class="imgtext">
                  <p>Tarkemmat tiedot</p>
                </div>
              </div>
            </div>
          </a>
          <div class="pl-5 float-left" style="font-family: 'Pacifico', cursive;">{{ item.name }}</div><br>
          <div class="pl-5 float-left" style="font-family: 'Pacifico', cursive;">&euro;{{ item.price }}</div>
          </div>
        </div>
        {%  endif %}
        {% endfor %}
      </div>
    </section>

    <!--Handling multiple pages-->
    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.previous_page_number }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Edellinen</span>
          </a>
        </li>
        {% endif %}

        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.number }}"
            >{{ page_obj.number }}
            <span class="sr-only">(Nykyinen)</span>
          </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.next_page_number }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Seuraava</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <br>

</main>

{% endblock content %}
