{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}


<main role="main" class="container pt-5 mt-5">
  <div class="jumbotron">
    <h1>Kiitos</h1>
    <p class="lead">Sinut ohjataan etusivulle kymmenessä sekunnissa, kun taas saat sähköpostin, jossa on toimitusaika ja tilauksen harkinta.</p>
    <p class="lead">Muista tarkistaa <h4><strong>roskapostisuodattimesi</strong></h4>. Jos et saa varmistusviestiä muutaman minuutin sisällä, tarkista roskapostisi ja merkkaa viesti muuksi kuin roskapostiksi. Tämän pitäisi mahdollistaa sähköpostin saapuminen normaalisti tulevaisuudessa.</p>
    <a class="btn mt-3 order-but" style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;" href="{% url 'main:home' %}" role="button"
      >Etusivu &raquo;</a
    >
  </div>
  <script>
    function redirect(){
      window.location.href = "{% url 'main:home' %}";
    }
    setTimeout(redirect, 10000);
  </script>
</main>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
