{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}


<main role="main" class="container pt-5 mt-5">
  <div class="jumbotron">
    <h1>Kiitos</h1>
    <p class="lead">Sinut ohjataan pääsivulle viiden sekunnin kuluttua, kun taas saat sähköpostin, jossa on toimitusaika ja tilauksen harkinta.</p>
    <a class="btn mt-3 order-but" style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;" href="{% url 'main:home' %}" role="button"
      >Etusivu &raquo;</a
    >
  </div>
  <script>
    function redirect(){
      window.location.href = "{% url 'main:home' %}";
    }

    setTimeout(redirect, 5000);
  </script>
</main>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
