{% load cart_template_tags %}
{% load static %}
{% load static i18n %}

<nav class="navbar fixed-top navbar-expand-lg bg-white navbar-light main-nav">
  <a class="logo" href="{% url 'main:home' %}">
    <img class="brand-img-1" src="{% static 'img/brand_logo_1.svg' %}" alt="Untitled" style="position: relative; width: 40%" hidden>
    <img class="brand-img-2" src="{% static 'img/brand_logo_2.svg' %}" alt="Untitled" style="position: relative; width: 40%">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
    aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav1">

  <ol class="navbar-nav">
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:home' %}">Etusivu</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:cake' %}">Kakut</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:cupcake' %}">Kuppikakut</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:cheesecake' %}">Juustokakut</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:fatayer' %}">Fatayer</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:manakish' %}">Manakish</a></li>
    <li class="nav-item navico"><a class="item-text" href="{% url 'main:meze' %}">Alkuruoat ja salaatit</a></li>
  </ol>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      {% if user|cart_item_count > 0 %}
        <li class="nav-item navico">
            <a href="{% url 'main:order-summary' %}"  class="item-text" style="font-size:16px;">
              Ostoskori &nbsp;
              <span class="badge badge-pill black px-3 py-1 " style="background-color:#BF9000;color:white;">{{ user|cart_item_count }}</span> &nbsp;
              <i class="fas fa-shopping-cart pl-1"></i>
            </a>
          </li>
        {% endif %}
        <li class="nav-item navico ">
          <a href="{% url 'main:profile' %}" class="item-text" style="font-size:16px;">
          <i class="far fa-user-circle ">&nbsp; &nbsp;</i>Hei, {{ user }}</a>
        </li>
        <li class="nav-item navico">
          <a href="{% url 'account_logout' %}" class="item-text" style="font-size:16px;">
            Kirjaudu ulos &nbsp; <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        <li><br></li>
        {% if user.is_superuser %}
        <li class="nav-item navico">
            <a href="{% url 'main:client-order' %}" class="item-text" style="font-size:16px;">
              Admin
            </a>
          </li>
        {% endif %}
      {% else %}
          <li class="nav-item navico">
            <a href="{% url 'account_signup' %}"
            class="item-text" style="font-size:16px;"> Kirjaudu sisään </a>
          </li>
      {% endif %}
      <li></li>
      <br>
    </ul>
  </div>
</nav>
