
<div class="" >
  <p class=" h4 mt-5 py-2" style="background-color:black; color:white; display:inline-block; padding:3px 30px; border-radius:3px;"><i class="fas fa-sign text-warning">
  </i> &nbsp;<b>Tee tilauksesi kolme päivää ennen</b>
  </p>
  <br><br><br>
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted" style="font-family: 'Prompt', sans-serif;">Ostoskorisi</span>
    <span class="badge badge-danger badge-pill">{{ order.count }}</span>
  </h4>
  <ul class="list-group mb-3 z-depth-1" style="background-color:#DEDCE9">
    {% for order_item in order %}
    <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color:#DEDCE9">
      <div>
        <span class="text-muted ">
          {{ order_item.quantity }}  &nbsp;
        </span>
        <small class="text-muted pl-3"><i>{{ order_item.product}}</i></small>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if order_item.is_gluteen_free %}
        <br>
        <span class="pl-5 text-muted" style="font-size:10px;">Gluteeniton</span>
        {% endif %}
        &nbsp;
        {% if order_item.is_loctose_free %}
        <br>
        <span class="pl-5 text-muted" style="font-size:10px;">Laktoositon</span>
        {% endif %}
        &nbsp;
        {% if order_item.additional_info %}
        <span class="addinfo">A</span>
        {% endif %}
      </div>
      <span class="text-muted h6" style="font-family: 'Prompt', sans-serif;">{{ order_item.get_final_price }} &euro;</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between mt-2" style="background-color:#DEDCE9">
      <span class="h5" style="font-family: 'Prompt', sans-serif;">Yhteensä</span>
      <strong class="order_sum_tot h5" >&nbsp;{{ object }}  &euro;</strong>
    </li>
  </ul>
</div>
