{% extends "base.html" %}
{% block content %}
{% load filter_tags %}
{% include "navbar0.html" %}
    <main class="pt-5">
        <div class="container p-5" style="position: relative; background-color: white; border-radius: 16px; ">
            <div class="row pt-5">
                <div class="col-sm">
                    <div><h1><span class="badge bg-dark text-white">New Order</span></h1></div>
                    <div><h5><span class="badge bg-dark text-white">Name  </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.name}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Order Date  </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.create}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Delivery Time  </span>&nbsp; {{ object.delivery}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Address  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ object.address}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Phone  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.phone}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Email  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.email}}</h5></div>
                    <div><h5><span class="badge bg-dark text-white">Delivery  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.delivery_price}}</h5></div>
                </div>
                <div class="col-sm">
                    <div><h1><span class="badge bg-danger">Order Descriptions</span></h1></div>

                    {% with object.order|split:"-" as items %}

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <th>{{ item }}</th>

                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endwith %}
                </div>
            </div>
        </div>
    </main>
    <br><br><br><br><br>
    <br><br><br><br><br>
{% endblock content %}
