{% extends "base.html" %} {% load crispy_forms_tags %} {% load ratings %}
{% load static %}
{% block content %}
{% include "navbar0.html" %}
<style>


</style>
<main class="" style="background-color:white">
  <br><br><br><br><br>

  <div class="container dark-grey-text" >
    <p class="text-muted" style="font-family: 'Prompt', sans-serif;"><a href="{% url 'main:home' %}" class="text-muted">Etusivu</a> &nbsp; /  &nbsp;<a href="{{ product.previous_url }}" class="text-muted"> {{product.category}}</a> &nbsp; / &nbsp; {{product.name}} </p>

    <div class="row">
      <div class="col-md-6" style="z-index:1;">
        <div class="card-2">
          <img src="{{ product.image1 }}" data-zoom-image="{{ product.image1 }}" class="prod-img"/>
        </div>
        <br>
      </div>
      <div class="col-md-6 mb-4">
        <div class="p-4 bg-white">
          <br><br>
          <span class="h4 font-weight-bold prod-text d-flex justify-content-center" style="font-family: 'Staatliches', cursive;">{{product.name}} </span>
          <br><br>
          {% if product.category == 'Kakut' or product.category == 'Juustokakut' %}
            <p
              class="d-flex justify-content-center"
              style=" text-transform: uppercase;margin-top:-10px; font-size:14px; color:gray; font-family: 'Acme', sans-serif;">
              alkaen &nbsp;&euro;&nbsp;{{ product.price }}
            </p>
          {% endif %}
          <p class="font-weight-bold pl-3" style="font-family: 'Acme', sans-serif;">AINESOSAT</p>
          <div class="text-muted" style="font-family: 'Acme', sans-serif;background-color:white; padding:10px; border-radius:10px; border:0.3px solid #EEE;">{{ product.contents|linebreaks }}</div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        {% ratings product 15 15 %}

        <br>
        <hr>
        {% if product.additional_info %}
        <p class="font-weight-bold pl-3" style="font-family: 'Acme', sans-serif;">HUOM!!!</p>
        <div class="text-muted" style="font-family: 'Acme', sans-serif; background-color:white; padding:10px; border-radius:10px; border:0.3px solid #EEE">{{ product.additional_info|linebreaks }}</div>
        {% endif%}
      </div>

      <div class="col-md-6">
          <form method="POST" action="{% url 'main:product' product.slug %}">
            <div class="" style="background-color:white; padding:45px; border-radius:10px;">
            {% csrf_token %}

            {% if product.category == 'Kakut' or product.category == 'Juustokakut' %}
              <span class="float-right" style="font-size: 2em; color:#BF9000" >
              <span id="hinta"style="font-family: 'Prompt', sans-serif;">{{product.price}}</span>&nbsp;&euro;</span>
              <br><br>
            {% else %}
              <span class="float-right" style="font-size: 2em; color:#BF9000" >
              <span id="hinta"style="font-family: 'Prompt', sans-serif;">{{product.price}}</span>&nbsp;&euro;</span>
              <input id="hinta-2" name="hinta-2" value="{{ product.price }}" hidden></input>
              <br><br>
            {% endif %}
            {% if product.category != 'Kakut' and product.category != 'Juustokakut' %}
            <div class="row ">
              <span style="font-family: 'Jomhuria', cursive; letter-spacing: 0.03em;"
              class="h3 pt-1 float-left">Määrä</span>&nbsp;&nbsp;
              <input
                class="form-control w-25 float-right"
                type="number"
                name="amount-2"
                value="1"
                min="1"
                step="1"
                max=50
                oninput="validity.valid||(value='');"
                placeholder="1"
                style="background-color:#ebf7fc"
                >
            </div>
            <br>
            {% endif %}
            {% if product.is_gluteen_free or product.is_loctose_free %}
              <div>
                  {% if product.is_gluteen_free %}
                  <br>
                    <span class="text-dark rounded" id="gluteen-field" hidden>
                      <div class="row">
                        <div class="float-left pt-3">
                          <div class="toggle-button-cover">
                            <div class="button-cover">
                              <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox" id="gluteen" name="gluteen" value="5" onchange="myFunction()">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="float-right">
                          <label class="h4 ml-3 pl-3" for="gluteen" style="font-family: 'Jomhuria', cursive; letter-spacing: 0.03em;">
                            Gluteeniton &nbsp;<small class="text-muted ">(+5.00€)</small>
                          </label><br>
                        </div>
                        <div class="col-md-4">
                        </div>
                      </div>
                    </span>
                  {% endif %}
                  {% if product.is_loctose_free %}
                    <span class="text-dark rounded">
                      <div class="row">
                        <div class="float-left pt-3">
                          <div class="toggle-button-cover">
                            <div class="button-cover">
                              <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox" id="laktoos" name="laktoos" value="5" onchange="myFunction()">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="float-right">
                          <label class="h4 ml-3 pl-3" for="laktoos" style="position:relative;top:4px;font-family: 'Jomhuria', cursive; letter-spacing: 0.03em;">
                            Laktoositon &nbsp;<small class="text-muted ">(+5.00€)</small>
                          </label>
                        </div>
                      </div>
                      <br>
                    </span>
                  {% endif %}
                  <br>
              </div>
            {% endif %}
          <div class="">
            {% if product.category == 'Kakut' or product.category == 'Juustokakut' %}
              {% if product.variation_set.all %}
              <div class="row ml-2" id="amount-field" hidden>
                <span style="font-family: 'Jomhuria', cursive; letter-spacing: 0.03em;" class="float-left h3">Määrä</span>
                <select class="browser-default custom-select custom-select-sm ml-3 pl-3 float-right w-25"
                name="amount" id="amount" onchange="myFunction()" style="background-color:#ebf7fc">
                  <option value="1" selected>1</option>
                  <option value="2" >2</option>
                  <option value="3" >3</option>
                  <option value="4" >4</option>
                  <option value="5" >5</option>
                  <option value="6" >6</option>
                  <option value="7" >7</option>
                  <option value="8" >8</option>
                  <option value="9" >9</option>
                </select>
              </div>
              <div class="row ml-2">
                <span style="font-family: 'Jomhuria', cursive; letter-spacing: 0.03em;" class="float-left h3">Koko</span>
                <select class="browser-default custom-select custom-select-sm ml-3 pl-3 float-right w-50"
                        name="price" id="price" onchange="myFunction()" style="background-color:#ebf7fc">
                  <option value="" id="disableitem" disabled selected>Valitse</option>
                  {% for item in product.variation_set.all %}
                    <option value="{{item.price}}" > {{item.size}}</option>
                  {% endfor %}
                </select>
              </div>
              <br>
              {% endif %}
              <textarea class="form-control" id="lisaa" rows="3" name="lisaa" placeholder="Lisätiedot (Valinnainen)"></textarea>
              <br>
              <button
                class="btn btn-md my-0 p float-right"
                style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;"
                type="submit"
                id="addtocart"
                disabled>
                Lisää ostoskoriin
                <i class="fas fa-cart-plus ml-1"></i>
              </button>
            {% else %}
            <textarea class="form-control" id="lisaa-2" rows="3" name="lisaa-2" placeholder="Lisätiedot"></textarea>
              <br>
              <button
                class="btn btn-md my-0 p float-right"
                style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;"
                type="submit"
                id="addtocart-2">
                Lisää ostoskoriin
                <i class="fas fa-cart-plus ml-1"></i>
              </button>
            {% endif%}
          </div>
          <br><br>
          </div>
        </form>
        </div>
      </div>
    <div class="row d-flex justify-content-center wow fadeIn rounded">
      <div class="col-md-6 text-center bg-white">
        <!-- <h4 class="my-4 h4" style="font-family: 'Acme', sans-serif;">Ravintosisältö</h4> -->
        <!-- <p style="font-family: 'Acme', sans-serif;">{{product.additional_info}}</p> -->
      </div>
    </div>
    <hr>
    <div class="row" >
    {% for sample in sample %}
    <div class="container-5 ">
      <div class="content" style="border-radius:4px;">
        <a href="{{sample.get_absolute_url}}">
          <div class="content-overlay"></div>
          <img class="content-image" src="{{sample.image1}}" width="300" height="300">
          <div class="content-details fadeIn-bottom">
            <h4 class="content-title text-white">{{sample.name}}</h4>
            <h5 class="content-text text-white">{{sample.price}}</h5>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
</div>

  </div>
  <br>
{% include 'kissa.html' %}
</main>
<script>
  $('.prod-img').ezPlus({
    zoomType: 'inner',
    cursor: 'crosshair'
});
</script>

{% endblock content %}
