{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}
{% load static %}
{% include "navbar0.html" %}
      <div style="background-color:white">
        <br><br><br>
        <div class="mt-5">
          <img src="{% static 'img/logo12.jpg' %}" alt="Untitled"  class="logo2">
        </div>
        <br>
        <div class="form-s">
          <h1 style="font-family: 'Pacifico', cursive;">Asiakastietoni</h1>
          <form class="update" method="POST">
            {% csrf_token %}
            <p>Muokkaa käyttäjän tietoja</p>
            <hr>
            <label for="">Käyttäjätunnus</label><br>
            <input class="form-control w-50" type="text" pattern="[A-Za-z0-9]+{3}" placeholder="Ainakin kolme kirjainta" name="username" value="{{ user.username }}">
            <br>
            <label for="">Sähköpostiosoite</label><br>
            <input class="form-control w-50" type="email" name="email" value="{{ user.email }}">
            <br>
            <hr>
            <br>
            <button class="btn" style="background-color:#BF9000 ;color:black; font-family: 'Prompt', sans-serif;" name="edit" type="submit">
                Tallenna muutokset
            </button>
            <br>
            <br>
            <hr>
            <a class="d-flex justify-content-center" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              + Poista tilisi
            </a>
            <hr>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <p>Kirjoita " <span style="color:red;font-weight:bold;"> poista </span> " ja napsauta sitten Poista tilisi -painiketta &nbsp;</p>
                <input
                  class="form-control w-25 deleteaccount"
                  type="text"
                  id="deleteaccount"
                  name="deleteaccount"
                  value=""
                  pattern="[a-z]{6}"
                  validator="poista"
                  placeholder="poista"
                  onchange="deleteAccount()"
                  autocomplete="off"
                  >
                <br>
                <button id="delete-button" class="btn text-white w-25" style="background-color:black ;'; font-family: 'Prompt', sans-serif;" name="delete"type="submit">
                    Poista tilisi
                </button>
              </div>
            </div>
          </form>
          <br>
        </div>
        <br><br>
      </div>
{% endblock %}
